:root{
    --bg: rgb(219, 255, 248);
    --bg-darker: #3a5a55b0;
    --bg-lighter: rgb(135, 207, 177);
    --border-radius-s:10px;
    --border-radius-l:25px;
    --nav-bg: rgba(172, 187, 255, 0.7);
    --price:green;
    --options:rgba(157, 245, 201, 0.484);
    --submit-btn: rgba(103, 222, 206, 0.911);
	--shadows: 20px 20px 30px #333;
    --shadows-shorter: 7px 7px 10px;
    --card-alpha : 0.75;
	--merch-card-bg: rgba(15, 16, 10, 0.167);
    --shadows-inner-s: 1px 1px 3px inset var(--bg-darker), -1px -1px 3px inset var(--bg-darker);
	--shadows-inner-l: 1px 1px 10px inset var(--bg-darker), -1px -1px 10px inset var(--bg-darker);
	--font-color-default: #333;

    
}




body {
    background-color: #282b33;
    background-image: url('https://source.unsplash.com/1920x1080/?landscape');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin: 2ch;
}
footer {
    padding: 2% 0;
    border-style: ridge none none;
    border-color: rgb(196, 183, 183);
    background-color: #212529;
    color: rgb(212, 204, 204);
    font-variant: small-caps;
    font-size: small;
    text-align: center;
}


.transbox {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 720px;
  margin: 1em;
}

form .form-control, form .form-control:focus, form .form-select, form .form-select:focus {
    border: none;
    outline: none;
    color: white;
    background-color: #7c7c7c2b;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

icon {
    opacity: 0.7;
}
icon:hover {
    opacity: 1;
}
.icon-small {
    height: auto;
    width: 16px;
}
.icon-med {
    height: auto;
    width: 32px;
}
table.ticket { 
    border-collapse: separate; 
    border-spacing: 2px;
    clear: both;
    width: 100%;
 }
table.ticket th { 
    border-width: 1px; 
    padding: 0.5em; 
    position: relative; 
    text-align: left; 
    border-radius: 0.25em;
    border-style: solid;
    background: #EEE; 
    border-color: #BBB; 
    font-weight: bold; 
    text-align: center; 
}

table.ticket td { 
    border-color: #DDD;
    border-width: 1px; 
    padding: 0.5em; 
    position: relative; 
    text-align: left; 
    border-radius: 0.25em;
    border-style: solid; 
}


