body{
    color: white;
}

aside{
    margin: 0 1ch 0 5ch;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    gap: 1ch;
}
aside > *{
    padding: 0.5rem;
    background-color: var(--options);
    border-radius: var(--border-radius-s);
}
.merch-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2ch;
}
.merch-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(18, 18, 18, 0.686);
    background-color: var(--merch-card-bg);
    border-radius: var(--border-radius-s);
}
.merch-card > img{
    max-width: 15rem;
    border-radius: var(--border-radius-s);
    margin: 2ch;
    min-width: 10rem;
    border: 4px solid rgb(61, 61, 61);
}
/* .merch-card-col{
    display: grid;
    grid-template-columns: auto auto
} */
input[type=number]{
    background-color: rgba(56, 56, 56, 0.742);
    color: white;
    border-radius: var(--border-radius-s);
    width: 8ch;
    text-align: center;
}
.merch-form{
    display: flex;
    gap: 1ch;
}

.merch-form > .btn{
    background-color: var(--options);
    color: aliceblue;
    border-radius: var(--border-radius-s);
}

.merch-price{
    color: var(--price);
}
.merch-price:after{
    content: "\09F3";
}